* {
    margin: 0;
}

.header-navbar {
    background-color: rgb(34, 16, 99);
    text-align: center;
    padding: 15px;
    font-size: 36px;
    color: rgb(248, 245, 242)
}

.input-field {
    width: 80%
}

.two-main-sections {
    display: flex;
    padding: 10px;

}

.sidebar {
    background-color: coral;
    padding: 10px;
    width: 20vw;
}

.current-weather {
    display: flex;
    background-color: rgb(195, 248, 166);
    padding: 10px;
    width: 80vw;
}

.forcast-header {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

.five-day-blocks {
    display: flex;
}

.five-day-forecast {
    display: block;
    background-color: rgb(237, 248, 166);
    padding: 10px;
    width: 80vw;
}

.temp {
    display: flex;
}

.wind {
    display: flex;
}

.humidity {
    display: flex;
}

.forecasted-day-block {
    padding: 10px;
    margin-right: 40px;
    background-color: rgb(156, 211, 224);
}

.forcasted-temp {
    display: flex;
}

.forcasted-wind {
    display: flex;
}

.forcasted-humidity {
    display: flex;
}