* {
    margin: 0;
}

.header-navbar {
    background-color: rgb(34, 16, 99);
    text-align: center;
    padding: 15px;
    font-size: 36px;
    color: rgb(248, 245, 242)
}

#search-input {
    width: 10vw;
}

.btn-secondary {
    width: 16vw;
    margin: 5px;
    text-align: left;
}

.search-btn {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}


.two-main-sections {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    padding: 10px;

}

.sidebar {
    padding: 10px;
    padding-right: 30px;
    width: 20vw;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 10px;
    padding: 30px;
}

.search-tool {
    background-color: rgb(124, 198, 198);
    width: 100%;
    text-align: center;
}

.searched-options {

    border-top: solid 1px gray;
    padding-top: 10px;
    text-align: left;
}

.current-weather {
    display: flex;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 10px;
    padding: 10px;
    width: 75vw;
    margin-left: 20px;
}
.five-day-forecast {
    display: flex;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 10px;
    padding: 10px;
    width: 75vw;
    margin-left: 20px;
    margin-top: 20px;
}

.forcast-header {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 36px;
}
.forcast-header {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 36px;
}

.five-day-blocks {
    display: flex;
}

.five-day-forecast {
    display: block;
    padding: 10px;
}

.temp {
    display: flex;
}

.wind {
    display: flex;
}

.humidity {
    display: flex;
}

.forecasted-day-block {
    padding: 10px;
    margin-right: 40px;
    background-color: rgb(156, 211, 224);
}

.forcasted-temp {
    display: flex;
}

.forcasted-wind {
    display: flex;
}

.forcasted-humidity {
    display: flex;
}