* {
    margin: 0;
}

.header-navbar {
    background-color: rgb(34, 16, 99);
    text-align: center;
    padding: 15px;
    font-size: 36px;
    color: rgb(248, 245, 242)
}
.btn-secondary {
    width: 16vw;
    margin: 5px;
    text-align: left;
    font-size: 16px;
}
.form-control {
    font-size: 18px;
}
.btn-outline-primary {
    font-size: 14px;
}

.search-btn {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}


.two-main-sections {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    padding: 10px;

}

.sidebar {
    padding: 10px;
    padding-right: 30px;
    width: 20vw;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 10px;
    padding: 30px;
}

.search-tool {
    background-color: rgb(124, 198, 198);
    width: 100%;
    text-align: center;
}

.searched-options {
    padding-top: 10px;
    text-align: left;
}

.current-weather-block {
    border: 1px solid rgb(190, 190, 190);
    border-radius: 10px;
    padding: 10px;
    width: 75vw;
    margin-left: 20px;
    font-size: 24px;
}
.five-day-forecast {
    display: flex;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 10px;
    padding: 10px;
    width: 75vw;
    margin-left: 20px;
    margin-top: 20px;
}
.city-name {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 36px;
}
.current-day-time {
    padding-left: 30px;
    color: rgb(86, 86, 255);
}

.forcast-header {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 36px;
}
.forcast-header {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 36px;
}

.five-day-blocks {
    display: flex;
}

.five-day-forecast {
    display: block;
    padding: 10px;
}

.temp {
    display: flex;
}

.wind {
    display: flex;
}

.humidity {
    display: flex;
}

.forecasted-day-block {
    padding: 20px;
    margin-right: 40px;
    background-color: rgb(156, 211, 224);
    font-size: 20px;
}

.forcasted-temp {
    display: flex;
    padding-bottom: 10px;
}

.forcasted-wind {
    display: flex;
    padding-bottom: 10px;
}

.forcasted-humidity {
    display: flex;
    padding-bottom: 10px;
}
.forcasted-temp-result {
    padding-left: 10px;
}

.forcasted-wind-result {
    padding-left: 10px;
}

.forcasted-humidity-result {
    padding-left: 10px;
}
.temp-result {
    padding-left: 10px;
}
.wind-result {
    padding-left: 10px;
}
.humidity-result {
    padding-left: 10px;
}